body {
  font-family: "Do Hyeon";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
.screen {
  width: 100vw;
  height: 100vh;
}
#startScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3171d7;
}
#startStory,
#finalStory {
  display: flex;
  position: relative;
  justify-content: center;
}
#startStory img {
  width: 100%;
  height: 100%;
}
.storyTextContainer {
  position: absolute;
  bottom: 21px;
  width: 1012px;
  height: 293px;
  border-radius: 10px;
  border: 2px solid #000;
  background: #fff;
}
.storyTextInner {
  position: relative;
  width: 100%;
  height: 100%;
}
.storyText {
  display: block;
  padding-top: 39px;
  padding-left: 39px;
  color: #000;
  font-family: "Black Han Sans";
  font-size: 40px;
  font-weight: 400;
}
.fianlstoryText {
  display: block;
  padding-top: 39px;
  padding-left: 39px;
  color: #000;
  font-family: "Black Han Sans";
  font-size: 40px;
  font-weight: 400;
}
.skip {
  position: absolute;
  top: 250px;
  right: 26px;
  color: #7b7b7b;
  font-family: "Do Hyeon";
  font-size: 24px;
  font-weight: 400;
}
#start {
  position: relative;
  width: 966px;
  height: 673px;
}
#startImg {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 10px;
  border: 10px solid #414141;
}
#buttonContainer {
  display: flex;
  justify-content: space-around;
  width: inherit;
  position: absolute;
  bottom: 58px;
}
.startButton {
  padding: 15px 67px;
  border-radius: 15px;
  border: 10px solid #3d6eb9;
  background: #048def;
  color: #f4df1e;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #000;
  font-size: 64px;
  font-weight: 400;
  font-family: "Do Hyeon";
}
.startButton:hover {
  border-radius: 15px;
  border: 10px solid #2f94cc;
  background: #01b3e8;
}

#level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0ddfff;
  position: relative;
}
#levelTitle {
  display: flex;
  gap: 530px;
  margin-bottom: 15px;
}
#levelTitle > h3 {
  color: #cfffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2497bf;
  font-size: 96px;
  font-weight: 400;
  text-align: start;
  margin: 0;
  font-family: "Do Hyeon";
}
#levelTitle > img {
  cursor: pointer;
}
#levelButtonContainer {
  display: flex;
  margin-bottom: 45px;
}
.levelButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 470px;
  border-radius: 15px;
  border: 5px solid #0160e2;
  background: #08c6fe;
}
.levelButton > span {
  color: #b7f1f4;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #026ed4;
  font-size: 64px;
  font-weight: 400;
  font-family: "Do Hyeon";
}
.levelButton:hover,
.levelButton.selected {
  border-radius: 15px;
  border: 5px solid #6d15af;
  background: #dd1dfe;
}
.levelButton:hover > span {
  color: #f4c1ff;
  -webkit-text-stroke-color: #8407bd;
}
.levelButton:nth-of-type(2):checked ~ #selectLevel {
  display: flex;
  gap: 68px;
}
.selectLevelButton {
  width: 276px;
  height: 73px;
  border-radius: 10px;
  border: 3px solid #0160e2;
  background: #008bfa;
  color: #d6fdfd;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0160e2;
  font-size: 48px;
  font-weight: 400;
  font-family: "Do Hyeon";
}
.selectLevelButton:hover {
  width: 290px;
  height: 85px;
}
#settingOverlay {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#setting {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 700px;
  height: 700px;
  padding: 25px 52px;
  background: #05a8ff;
  box-sizing: border-box;
}
#settingTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#settingTitle > h3 {
  color: #cfffff;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #2497bf;
  font-family: "Do Hyeon";
  font-size: 96px;
  font-weight: 400;
  margin: 0;
}
#settingTitle > img {
  cursor: pointer;
}
#settingAudio {
  display: flex;
  padding: 21px 26px;
  gap: 60px;
  border-radius: 10px;
  background: #003e8c;
}
#settingAudio > span {
  color: #d6fdfd;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0160e2;
  font-family: "Do Hyeon";
  font-size: 55px;
  font-weight: 500;
}
.audioCheck {
  display: flex;
  align-items: center;
  gap: 18px;
}
.audioCheckBox {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  background: #08c6fe;
}
.audioCheck > span {
  color: #fff;
  font-family: "Do Hyeon";
  font-size: 35px;
  font-weight: 400;
}

#background1 {
  display: inline;
}

#background2 {
  display: none;
}

#settingBall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 390px;
  padding: 0 26px;
  gap: 20px;
  border-radius: 10px;
  background: #003e8c;
  box-sizing: border-box;
}
#settingBall > p {
  color: #d6fdfd;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0160e2;
  font-family: "Do Hyeon";
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}
#ballChecks {
  display: flex;
  gap: 16px;
}
.ballCheck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 236px;
  gap: 16px;
  border: 1px solid #fff;
  background: #b8ced4;
}
.ballCheckBox {
  width: 50px;
  height: 50px;
  background: #70757e;
}

.ballCheckBox img {
  display: none;
}

#ballChecks .ballCheck:first-child .ballCheckBox img {
  display: block;
}

#lifeContainer {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  z-index: 10;
}

.life {
  width: 60px;
  height: 60px;
  margin-right: 4px;
}

/* 게임시작 시 캔버스 숨김 */
#gameCanvas {
  display: none;
  border-radius: 10px;
  border: 10px solid #414141;
  background: #d9d9d9;
}
#game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #3171d7;
  box-sizing: border-box;
}
#canvasContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 900px;
  justify-content: center;
  align-items: center;
  position: relative;
}
#itemContainer {
  display: flex;
  align-items: center;
  padding: 0 35px;
  gap: 15px;
  width: 581px;
  height: 90px;
  border-radius: 15px 15px 0px 0px;
  border: 3px solid #0160e2;
  background: #0094ec;
  position: absolute;
  bottom: 0;
}
#itemContainer > span {
  color: rgba(214, 253, 253, 0.87);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0160e2;
  font-family: "Do Hyeon";
  font-size: 36px;
  font-weight: 400;
  padding-right: 24px;
}
.item {
  width: 80px;
  height: 60px;
  border-radius: 10px;
  background: #0058b4;
  position: relative;
  overflow: hidden;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}
.itemNumber {
  color: rgba(214, 253, 253, 0.87);
  font-family: "Do Hyeon";
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  top: 2px;
  left: 10px;
  z-index: 1;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#heartContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 340px;
  height: 79px;
  border-radius: 5px;
  border: 3px solid #048def;
  background: #003e8c;
}
#mainAside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 340px;
  height: 606px;
  border-radius: 15px;
  background: #299fee;
}
#scoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 276px;
  height: 71px;
  border-radius: 15px;
  border: 2px solid #0981d3;
  background: #003e8c;
}
#scoreText {
  color: #86fffd;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #022858;
  font-family: "Black Han Sans";
  font-size: 40px;
  font-weight: 600;
}
#score {
  color: #ff8604;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Black Han Sans";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 7.2px;
}
#users {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 276px;
  height: 107px;
  border-radius: 5px;
  border: 2px solid #003e90;
  background: #0665c6;
}
.userImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 76px;
  border-radius: 5px;
  border: 3px solid #0981d3;
  background: #003e8c;
}
.userInfo {
  display: flex;
  flex-direction: column;
}
.userInfoBox {
  display: flex;
  gap: 8px;
}
.userInfoBox1 {
  width: 43px;
  height: 38px;
  border-radius: 5px;
  border: 2px solid #003e8c;
  background: #299fee;
}
.userInfoBox2 {
  width: 86px;
  height: 38px;
  border-radius: 5px;
  border: 3px solid #0981d3;
  background: #003e8c;
}
.userName {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: Orbit;
  font-size: 35px;
  font-weight: 500;
}
#exit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 84px;
  border-radius: 5px;
  border: 2px solid #054aa9;
  background: #0655b5;
}
#exit > button {
  width: 300px;
  height: 69px;
  border-radius: 5px;
  border: 2px solid #0758b9;
  background: #05a8ff;
  color: rgba(252, 252, 252, 0.87);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0160e2;
  font-family: "Do Hyeon";
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 4px;
}
#desc img {
  width: 100vw;
  height: 100vh;
}

#finalStory img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 선택 사항: 비율 유지하며 채우기 */
}
